<% include ../partials/header %>

<div class="container">
    <div class="row">
        
        <h1 class="text-center">Edit <%= user.name %>'s Profile</h1>
        
        <div style="width: 30%; margin:30px auto;">
            
            <form action="/users/<%= user._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" name="user[avatar]" value="<%= user.avatar %>">  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[firstName]" value="<%= user.firstName %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[lastName]" value="<%= user.lastName %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[username]" value="<%= user.username %>">
                </div>
                <div class="form-group">
                  <input class="form-control" type="email" name="user[email]" value="<%= user.email %>">  
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="user[aboutMe]" value="<%= user.aboutMe %>">  
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="user[homeTown]" value="<%= user.homeTown %>">  
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" name="user[yearsCamping]" value="<%= user.yearsCamping %>" min="0" step="1">  
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/users/<%= user.id %>">Go Back</a>
        </div>
        
    </div>
</div>


<% include ../partials/footer %>