<% include ../partials/header %>
<div class = "container">
    <div class ="row">
        <div class="col-md-4">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <div class="thumbnail card-shadow">
                <img src="<%= user.avatar %>" alt="user profile image">
                <div class="caption">
                    <a href="mailto:<%= user.email %>"><%=user.email %></a>
                    <span class="push-right">
                        <% if (currentUser && currentUser.isAdmin) { %>
                            <h4 class="admin-user"><span><i class="fas fa-shield-alt"></i></span> Admin</h4>
                        <% } else {%>
                            <h4 class="">Member</h4>
                        <% } %>
                    </span>
                    
                </div>
            </div>
            <div class="list-group card-shadow">
                
                <% if(currentUser || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/users/<%= user._id %>/edit">Edit</a>
                        <form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
            </div>
        </div>
        <div class="col-md-8">
            <h1 class="text-center capitalize"><%= user.username %>'s campgrounds</h1>
        </div>
        <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-4 flex-wrap user-campground-list">
            <div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a> 
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>
