<% include ../partials/header %>
<div class = "container">
    <div class ="row">
        <div class="col-md-4">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <div class="thumbnail card-shadow">
                <img src="<%= user.avatar %>" alt="user profile image">
                <div class="caption">
                    <a href="mailto:<%= user.email %>"><%=user.email %></a>
                    <span class="push-right">
                        <% if (currentUser && currentUser.isAdmin) { %>
                            <h4 class="admin-user"><span><i class="fas fa-shield-alt"></i></span> Admin</h4>
                        <% } else {%>
                            <h4 class="">Member</h4>
                        <% } %>
                    </span>
                    <% if (!user.aboutMe && !user.homeTown && !user.yearsCamping) { %>
                        <div class="list-unstyled user-profile-about">
                            <li class=" text-left"><h5>About Me</h5></li>
                            <hr class="hr-card">
                            <li class=" text-left"><h5>Hometown</h5></li>
                            <hr class="hr-card">
                            <li class=" text-left"><h5>Years Camping</h5></li>
                            <a class="text-right" href="/users/<%= user._id %>/edit"><h4><small>Edit Profile</small></h4></a>
                        </div>
                    <% } else { %>
                            <div class="list-unstyled user-profile-about text-center">
                                <li class=""><em>"<%= user.aboutMe %>"</em></li>
                                <hr class="hr-card">
                                <li class="">
                                    <h5><strong>Hometown</strong></h5>
                                    <p class="capitalize"><%= user.homeTown %></p>
                                </li>
                                <hr class="hr-card">
                                <li class="">
                                    <h5><strong>Years Camping</strong></h5>
                                    <p class="capitalize"><%= user.yearsCamping %></p>
                                </li>
                                <a class="text-right" href="/users/<%= user._id %>/edit"><h4><small>Edit Profile</small></h4></a>
                            </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h1 class="text-center capitalize"><%= user.username %>'s campgrounds</h1>
        </div>
        <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-4 flex-wrap user-campground-list">
            <div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a> 
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>
